.navbar {
    background-color: #d8df0d;
    color: rgb(27, 69, 205);
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: rgb(2, 114, 152);
    text-decoration: none;
    font-size: 18px;
}